@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #09090b;
  overscroll-behavior: none;
}

input, select {
  font-size: 16px !important;
}